@using SD.Core.Application.Results;
@model MovieDto

@{
    ViewData["Title"] = "Details";
}

<h1>@BasicRes.Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreId)
        </dt>
        <dd class = "col-sm-10">
            @Model.GenreName
        </dd>
        <dt class = "col-sm-4 col-md-2">
            @Html.DisplayNameFor(model => model.MediumTypeCode)
        </dt>
        <dd class = "col-sm-8 col-md-10">
            @Model.MediumTypeName (@Model.MediumTypeCode)
         </dd>
        <dt class = "col-sm-2">
            @BasicRes.Title
        </dt>
        <dd class = "col-sm-10">
            @Model.Title
        </dd>
        <dt class = "col-sm-2">
            @BasicRes.Price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @BasicRes.ReleaseDate
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Model.LocalizedRating (@Model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a href="\Movies\Edit@Model?.Id">@BasicRes.Edit</a> |
    @*<a asp-action="Index">Back to List</a>*@
    <a href="\Movies\Index">Back to List</a>
</div>
